
h1, h2, h3, h4, h5,h6 {
    &.primary {
        color: var(--color-text);
    }

    &.secondary {
        color: var(--color-text-secondary);
    }
    
    &.green {
        color: var(--color-text-secondary-green);
    }
}