@import '/src/styles/mixin.scss';

.card_body {
    height: 100%;
    padding-left: var(--spacing-xxs);
    
    &__content_grid {
        @include grid_cards();

        &__chart {
            max-height: 230px;
        }

        &__container {

            &__list {
                @include scroll();
                
                height: 200px;
                width: 99.5%;
    
                &__content {
                   @include content_progress_bar();
                }    
            }
        }

        &__footer {
            @include grid_cards_footer();

            .small_100 {
                margin-right: 10px;
            }
        }

        &__legenda {
            @include legenda();
            
            &__marcacoes_completas {
                @include legenda_content();

                &__color {
                    @include legenda_colors();

                    background-color: var(--color-primary-blue);
                }
            }

            &__marcacoes_parciais {
                @include legenda_content();

                &__color {
                    @include legenda_colors();
                    
                    background-color: var(--color-light-blue);
                }
            }

        }
    }
}