@import "/src/styles/variables.scss";
@import "/src/styles/typography.scss";

body,
html,
app-root {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen;
    font-weight: var(--font-weight-400);
    line-height: 1.2;
}

html {
    color: var(--color-text);
    background-color: var(--color-background);
}

* {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

.custom_tooltip {
    cursor: pointer;

    position: relative;
    display: flex;
    gap: var(--spacing-xs);
    padding: var(--spacing-squish-quarck);
    
    color: var(--color-text-secondary);
    font-weight: var(--font-weight-600);
    font-size: var(--font-size-body-text-3);
    
    z-index: 100;
        
    background-color: var(--color-background);
    opacity: 1;

    border: var(--border-width-hairline) solid var(--color-neutral-gray);
    border-radius: var(--border-radius-sm);
    box-shadow: var(--shadow-level-2) var(--color-light-gray);
    white-space: nowrap;
}