:root {
    --color-primary: #EA1D25;
    
    --color-light-gray: #ced4da;
    --color-dark-gray: #adb5bd;
    --color-dark-gray-200: #6c757d;
    --color-neutral-gray: #999999;
    
    --color-primary-blue: #47bbb0;
    --color-light-blue: #9fd4ec;

    --color-background: #fff;

    --color-text: #333333;
    --color-text-secondary: #6c757d;
    --color-text-secondary-light: var(--color-dark-gray);
    --color-text-secondary-green: #a3cfbb;
}

:root {
    --border-radius-pill: 100px;
    --border-radius-none: none;
    --border-radius-sm: 4px;
    --border-radius-md: 8px;
    --border-radius-lg: 16px;
    --border-radius-circle: 50%;

    --border-width-none: 0px;
    --border-width-hairline: 1px;
    --border-width-thin: 2px;
    --border-width-trick: 4px;
    --border-width-heavy: 8px;

    --opacity-level-semiopaque: 0.8;
    --opacity-level-intense: 0.64;
    --opacity-level-medium: 0.32;
    --opacity-level-light: 0.16;
    --opacity-level-semitransparent: 0.08;

    --shadow: 0 0.125rem 0.25rem;
    --shadow-level-1: 0px 2px 3px;
    --shadow-level-2: 0px 3px 6px;
    --shadow-level-3: 0px 8px 24px;
    --shadow-level-4: 0px 16px 32px;

    --avatar-circle-sm: 40px;
    --avatar-circle-md: 64px;
    --avatar-circle-lg: 96px;

    --spacing-quarck: 4px;
    --spacing-nano: 8px;
    --spacing-xxxs: 16px;
    --spacing-xxs: 24px;
    --spacing-xs: 32px;
    --spacing-sm: 40px;
    --spacing-md: 48px;
    --spacing-lg: 56px;
    --spacing-xl: 64px;
    --spacing-xxl: 80px;
    --spacing-xxxl: 120px;
    --spacing-huge: 160px;
    --spacing-giant: 200px;

    --spacing-squish-quarck: 4px 8px;
    --spacing-squish-nano: 8px 16px;
    --spacing-squish-xs: 16px 32px;
    --spacing-squish-sm: 24px 32px;
    --spacing-squish-md: 32px 40px;
    --spacing-squish-lg: 40px 48px;
}
        
:root {
    --font-size-h1: 42px;
    --font-size-h2: 36px;
    --font-size-h3: 28px;
    --font-size-h4: 22px;
    --font-size-h5: 18px;
    --font-size-h6: 16px;

    --font-size-body-text-1: 16px;
    --font-size-body-text-2: 14px;
    --font-size-body-text-3: 12px;

    --font-weight-300: 300;
    --font-weight-400: 400;
    --font-weight-500: 500;
    --font-weight-600: 600;
    --font-weight-700: 700;
}
