@mixin font {
    &.primary {
        color: var(--color-text);
    }

    &.secondary {
        color: var(--color-text-secondary);
    }
    
    &.green {
        color: var(--color-text-secondary-green);
    }
    
    &.light  {
        color: var(--color-text-secondary-light);
    }

    &.dark  {
        color: var(---color-dark-gray-200);
    }
    
    &.font-weight-400 {
        font-weight: var(--font-weight-400);
    }
    
    &.font-weight-500 {
        font-weight: var(--font-weight-500);
    }
    
    &.font-weight-600 {
        font-weight: var(--font-weight-600);
    }
    
    &.font-weight-700 {
        font-weight: var(--font-weight-700);
    }
}

.p_1, .span_1, .small_1 {
    @include font();

    font-size: var(--font-size-body-text-1);
    line-height: 20px;
}   

.p_2, .span_2, .small_2 {
    @include font();
    
    font-size: var(--font-size-body-text-2);
    line-height: 15px;
}

.p_3, .span_3, .small_3 {
    @include font();
    
    font-size: var(--font-size-body-text-3);
    line-height: 15px;
}
