.container {
    min-height: 100svh;
    
    gap: var(--spacing-xxl);
    padding: var(--spacing-xxl);
    display: flex;
    
    flex-direction: column;
    justify-content: center;
    align-items: center;
}